{% extends 'base.html' %}

 {% block content %}

  <h1>Tugas 3 PBP</h1>

  <h3>Name: </h3>
  <p style="font-size:120%;">Bryan Tjandra</p>

  <h3>Student ID: </h3>
  <p style="font-size:120%;">2106706634</p>
  <br>

  <div>
    <p style="font-size:130%;"> {{result}}</p>
  </div>

  <table border="1">
    <tr>
      <th>Watched</th>
      <th>Title</th>
      <th>Rating</th>
      <th>Release Date</th>
      <th>Review</th>
    </tr>
    {% comment %} Tambahkan data di bawah baris ini {% endcomment %}
    {% for data in list_movie %}
        <tr>
            <th>{{data.watched}}</th>
            <th>{{data.title}}</th>
            <th>{{data.rating}}</th>
            <th>{{data.release_date}}</th>
            <th>{{data.review}}</th>
        </tr>
    {% endfor %}
  </table>

 {% endblock content %}
